@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

*,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-padding: 6rem;
}

body.freeze {
  overflow: hidden;

}

:root {
  --IYH-light-color: #ffeff3;
  --IYH-color: #ff618e;
  --IYH-color-button: #ae1943;
  --IYH-color-focus-hover: #ff2d69;
  --IYH-dock-color: rgb(35, 20, 24);
  --logo-font: 'Love Ya Like A Sister', cursive;
  --IYH-black: #000;
  --IYH-white: #fff;
  --logo-font-size: 2.5rem;
  --IYH-stars: #ffa43c;
}

html {
  scroll-behavior: smooth;
}

header {

  nav {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    z-index: 98;
    background-color: rgba(255, 255, 255, 0.871);
    backdrop-filter: blur(5px);

    animation: fadeIn .5s 3s backwards;
    opacity: 1;

    & .desktop {
      display: none;
    }

    & a {
      text-decoration: none;
      color: black;

      h1 {
        font-family: var(--logo-font);
        font-size: var(--logo-font-size);

        & span {
          color: var(--IYH-color);
          font-weight: 800;
          font-family: var(--logo-font-size);
        }
      }

      & i {
        color: var(--IYH-color);
      }
    }

    & #hamburger-icon {
      background-color: transparent;
      border: none;
      color: black;

      & i {
        font-size: 1.3rem;
      }
    }

    & .mobile {
      display: none;
      position: fixed;
      inset: 0;
      height: 100vh;
      display: flex;
      padding: 0;
      gap: 2rem;
      flex-direction: column;
      transform: translateY(-180%);
      background-color: var(--IYH-color);
      transition: .5s;
    }

    & .mobile.active {
      transform: translateY(0);


      hr {
        color: red;
        margin-right: 30px;
        margin-left: 20px;
        height: .1rem;
        border: none;
        background-color: var(--IYH-color-button);
      }
    }

    & .mobile.active {

      & li {
        list-style-type: none;

        & a {
          font-size: 1.3rem;
          display: block;
          padding-left: 2rem;
        }
      }

      & .top-menu {
        display: flex;
        top: 0;
        align-items: center;
        padding-top: 1.6rem;
        width: 100vw;
        justify-content: center;

        & h1 {
          font-size: 2rem;
          font-family: var(--logo-font);
          margin-left: 20px;
          text-align: center;
        }

        & #close-menu {
          margin-left: auto;
          margin-right: 1.5rem;
          font-size: 1.5rem;
          border: none;
          background-color: transparent;
          color: black;
        }

        & h1 {

          & i {
            margin-right: .5rem;
          }
        }
      }
    }
  }
}


li {
  list-style-type: none;
}

a {
  text-decoration: none;
}


main {
  padding-top: 3rem;
}


/* Main sections */
main {


  & .background-image {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("./images/morereddish.png");
    background-size: cover;
    background-position: 0 0;
    z-index: -1;
    opacity: .8;

    animation: fadeInBG .5s 3.5s backwards;
  }

  & .stars {
    margin: 0 auto;
    text-align: center;
    animation: fadeIn .5s 4.5s backwards;
    opacity: 1;

    & p {
      color: black;
      font-size: 0.8rem;
    }

    & i {
      color: var(--IYH-stars);
      font-size: 1.3rem;
    }

    & h5 {
      font-size: 1.5rem;

      & i {
        color: #51b380;
      }
    }
  }




  & .FAQ-section {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

    & h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    & .accordion-button {
      background-color: var(--IYH-color);
      color: white;
      cursor: pointer;
      padding: 20px;
      text-align: left;
      border: none;
      outline: none;
      width: 100%;
      border-radius: 5px;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }

    & .accordion-button:hover {
      background-color: var(--IYH-color-button);
    }

    & .accordion-content {
      scroll-padding: 2rem;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
      background-color: #f1f1f1;
      padding: 0 10px;
      margin-bottom: 2rem;

      & p {
        padding: 1rem;
      }
    }
  }

  & .form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    background-color: rgb(255, 215, 221);
    padding: 2rem;

    & h2 {
      color: rgb(246, 41, 119);
    }

    & p {
      margin-bottom: 1rem;
    }

    & label {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-weight: 700;

      & input {
        padding: .5rem;
        margin-bottom: 2rem;
        margin-top: .5rem;
        border: none;
        border-radius: .5rem;
      }

      & textarea {
        padding: 1rem;
        height: 10rem;
        border: none;
        border-radius: .5rem;
        margin-top: .5rem;
      }
    }

    & button {
      width: 50%;
      padding: 1rem 1.5rem;
      background-color: var(--IYH-color);
      border: none;
      border-radius: 2rem;
      margin: 1rem auto;
      transition: .5s;
      color: black;

      &:hover,
      &:focus {
        background-color: #ae1943;
        color: white;
      }
    }
  }

  & .adding-review {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: all;
      z-index: 99;
      transition: opacity 0.5s ease-in-out, pointer-events 0s 0s;

      & .review-form {
        opacity: 1;
        pointer-events: all;
        z-index: 100;
      }

      & .star-rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        font-size: 2rem;
        margin: 1rem 0;

        & label {
          cursor: pointer;
          color: #ccc;
          transition: 0.5s;

          &:hover,
          &:hover~label {
            color: var(--IYH-color);
          }
        }

        & input {
          display: none;

          &:checked~label {
            color: var(--IYH-color);
          }
        }
      }

      .rating-label {
        text-align: center;
      }
    }

    & .review-form {
      background-color: white;
      width: 24rem;
      border-radius: 20px;
      padding: 2rem 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.584) 0 0 20px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease-in-out, pointer-events 0s 0.5s;

      &.active {
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.5s ease-in-out, pointer-events 0s 0s;
      }

      & p:first-of-type b {
        color: var(--IYH-color);
        font-size: 1.1rem;
      }

      &>label:first-of-type {
        margin-top: 1rem;
      }

      & label {
        display: flex;
        flex-direction: column;
        font-weight: 600;

        & input:focus {
          background-color: rgb(255, 220, 225);
        }
      }

      & input {
        margin: 0.5rem 0 1rem 0;
        padding: 0.5rem;
        transition: 0.5s;
      }

      & textarea {
        height: 70px;
        padding: 0.5rem;
        margin-top: 0.5rem;
        resize: none;
        overflow-wrap: break-word;
        white-space: pre-wrap;
      }

      & .button-container {
        display: flex;
        gap: 1rem;
        justify-content: center;

        & button {
          display: block;
          border-radius: 100px;
          background-color: var(--IYH-color);
          border: none;
          padding: 0.8rem 1rem;
          color: white;
          width: 8rem;
          transition: 0.5s;

          &:nth-of-type(1) {

            &:hover,
            &:active {
              background-color: #a90038;
            }
          }

          &:nth-of-type(2) {
            background-color: white;
            color: var(--IYH-color);
            border: solid black 1px;

            &:hover,
            &:active {
              background-color: #ffe7ef;
            }
          }
        }
      }
    }
  }

  & .review-container {
    padding: 0;
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    flex-wrap: wrap;
    justify-content: center;

    &>button {
      padding: 2rem 2rem;
      background-color: var(--IYH-white);
      color: var(--IYH-color);
      border: none;
      font-size: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0 0 10px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:focus,
      &:hover {
        background-color: var(--IYH-color);
        color: white;    
      }

      & span {
        font-size: 5rem;
        line-height: 3.5rem;
      }
    }
  }
  
  .reviews-title {
    text-align: center;
  }


  
  .review-item {
    list-style-type: none;
    background-color: var(--IYH-white);
    padding: 1rem;
    width: 20em;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 10px;
    height: 10em;
    display: block;
    border-radius: 10px;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    & p {
      
      &:first-of-type {
        color: var(--IYH-stars);
      }

      &:nth-of-type(2) {
        white-space: pre-wrap;
        word-wrap: break-word;
        max-width: 100%;
        font-size: .65rem;
      }
    }

    & h3 {
      color: var(--IYH-color);
    }

    & .review-date {
      color: var(--IYH-black);
      opacity: .3;
      font-size: .8rem;
    }
    
  }
}


.appearFadeIn {
  animation: appearFadeIn 0.5s forwards;
}


#char-count {
  font-size: .5rem;
  margin: .5em 0;
  color: grey;
  font-weight: 300;
  margin-left: auto;
}


/* Review Items */


footer {
  background-color: var(--IYH-black);
  color: white;
  padding: 1rem;
  width: 100vw;
}

.detail-main {
  overflow: hidden;
  position: relative;
  padding: 0;
  background-color: var(--IYH-color);

  .babysitter-detail-container {
    position: relative;
    padding-top: 6rem;

    display: flex;
    flex-direction: column;

    & .image-container {
      animation: rotating 5s infinite alternate;
      transform-origin: top;
      position: relative;
      z-index: 2;
      background-color: ghostwhite;
      filter: drop-shadow(rgb(0, 0, 0, .2) 0 10px 5px);
      width: fit-content;
      /* margin: 1rem;  */
      display: flex;
      width: fit-content;
      flex-direction: column;
      position: relative;
      justify-content: center;
      padding: 1rem 1rem 1rem 1rem;
      margin: 0 auto;


      & img:nth-of-type(1) {
        width: 20%;
        position: absolute;
        top: -1rem;
        left: 150px;
      }

      & img:nth-of-type(2) {
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin: 0 auto;

      }

      div {

        order: 2;
        text-align: center;
        margin: 1rem 0;
      }

      i {
        color: var(--IYH-color);
        position: relative;

        &::after {
          position: absolute;
          content: "✓";
          top: 5px;
          left: 5px;
          color: white;
          font-size: .6rem;
        }
      }
    }

    & .detail-wrapper.active {
      padding: 1rem 2rem 2rem 2rem;
      translate: 0 0rem;
    }

    & .detail-wrapper {
      position: relative;
      z-index: 2;
      padding: 1rem 2rem 1rem 2rem;
      border-radius: 2rem 2rem 0 0;
      transition: .5s;
      translate: 0 0rem;
      background-color: #ffeff3;

      &>a {
        color: var(--IYH-color-focus-hover);
      }

      & hr {
        border: none;
        height: 1px;
        background-color: var(--IYH-color-button);
        margin: 1rem 0;
      }

      & .detail {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        margin: 1rem 0;

        & p {
          font-weight: 600;
          color: var(--IYH-color-button);

          i {
            color: var(--IYH-color-focus-hover);
          }
        }

        & .star-container {
          display: flex;
          align-items: center;

          & i {
            color: var(--IYH-stars);
          }

          & p {
            margin-left: .3rem;
          }
        }
      }

      & .experience {
        margin: 1rem 0;
        display: flex;
        gap: .4rem;


        & i {
          height: fit-content;
          margin-top: .3rem;
          color: var(--IYH-color-focus-hover);
        }

        & .experience-text {
          display: flex;
          flex-direction: column;

          & h3 {
            font-size: 1rem;
            color: var(--IYH-color-button);
          }

          & ul {
            padding: 0;
            display: flex;
            gap: .5rem;
            flex-wrap: wrap;

            & li {
              padding: .5rem 1rem;
              background-color: #ff2d69;
              color: var(--IYH-white);
              border-radius: 3rem;
              font-size: .8rem;
              margin: .5rem 0;

            }
          }
        }
      }

      & .babysitter-schedule {

        & table {
          width: 100%;
          margin: 2rem 0;

          & caption {
            text-align: left;
            font-size: 1.2rem;
            color: var(--IYH-color-button);
            font-weight: 600;
          }

          & thead {
            & tr {
              text-align: left;
              font-weight: 300;
            }
          }

          & tbody {
            & tr {
              text-align: left;

              & th {
                text-align: left;
                width: 140px;
                font-weight: 400;
              }

              & td {
                width: 3rem;

                & i {
                  color: var(--IYH-color-focus-hover);
                }
              }
            }
          }
        }

        & button {
          background-color: var(--IYH-black);
          color: var(--IYH-light-color);
          font-family: var(--logo-font);
          padding: 1rem 1.5rem;
          font-size: 1.3rem;
          border-radius: 2rem;
        }
      }
    }
  }

  .cloud-container {

    img {
      position: absolute;
      z-index: 1;
      animation: slidingCarousel 50s infinite alternate;

      &:nth-of-type(1) {
        top: 50rem;
        right: 0;
      }

      &:nth-of-type(2) {
        top: 10rem;
        left: 0;
        animation: slidingCarousel 50s infinite alternate-reverse;
      }

      &:nth-of-type(3) {
        top: 10rem;
        right: -5rem;
        animation: slidingCarousel 50s infinite alternate;
      }
    }
  }
}

.babysitter-container {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: fit-content;


  & h2 {
    color: var(--IYH-color);
  }

  &>p {
    width: 80%;
    min-width: 80%;
    margin: 1rem auto 2rem;
  }

  & .babysitter-list {
    margin: auto 0;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 70vh;

    & .about-us {
      width: 100%;
      display: flex;
      flex-direction: row;
      height: 500px;
      white-space: nowrap;
      justify-content: space-between;
      animation: slidingCarousel 35s infinite alternate;
      gap: 1rem;

      &:hover {
        animation-play-state: paused;
      }

      & li {
        background-color: var(--IYH-white);
        padding: 1rem 1rem 0 1rem;

      & a {
        transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover,
        &:focus {
          scale: .9;
        }

        & img {
          width: 300px;
          height: 350px;
          object-fit: cover;
        }

        & h4 {
          color: var(--IYH-color);
        }

        & p {
          color: var(--IYH-black);

          &:nth-of-type(2) {
            font-weight: 600;
          }

          & i {
            color: var(--IYH-stars);
          }
          }
        }
      }
    }
  }
}


.baby-main {
  height: 100%;
  position: relative;

  & .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/morereddish.png");
    background-size: cover;
    background-position: 0 0;
    z-index: -1;
    opacity: .8;
  }

  & .FAQ-section {
    background-color: var(--IYH-color-focus-hover);
    height: fit-content;
    padding: 1rem;

    & h2 {
      color: var(--IYH-white);
    }

    & .accordion {
      .accordion-button {
        background-color: var(--IYH-white);
        color: var(--IYH-color);
      }
    }
  }

  & .babysitter-container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & .babysitter-list {
      height: auto;
      overflow: hidden;

      & .about-us {
        flex-wrap: wrap;
        gap: 0;
        height: 100%;
        justify-content: flex-start;
        animation: none;

        & li {
          margin-bottom: 2rem;
          margin-left: auto;
          margin-right: auto;

          &:nth-last-of-type(1) {
            margin-right: 1rem;
            margin-left: 1rem;
          }

          &:nth-last-of-type(2) {
            margin-right: 1rem;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}





.baby-sitter nav {
  animation: none;
  opacity: 1;
}

/* Media Queries */
@media only screen and (min-width: 780px) {

  *,
  body {
    scroll-padding: 2rem;

  }

  & header {
    & nav {
      & .desktop {
        display: flex;
        gap: 2rem;  
        
        & li {
          list-style-type: none;

          & a {
            text-decoration: none;
            color: var(--IYH-black);
            font-weight: 400;
            transition: 0.2s;

            &:hover {
              color: var(--IYH-color-focus-hover);
            }
          }

          & .CTA {
            background-color: var(--IYH-color);
            padding: 1rem 2rem;
            color: var(--IYH-white);
            border-radius: 100px;
            transition: 0.5s;
            font-weight: 600;

            &:hover {
              background-color: var(--IYH-color-focus-hover);
              color: white;
            }

            & i {
              color: white;
            }
          }
        }
      }

      & .mobile, 
      & #hamburger-icon {
        display: none;
      }
    }
  }


  main {
    & .homepage-section {
     & h2 {
        font-size: clamp(3rem, 6vw, 6.5rem);
        font-weight: 400;
        width: 61%;
        line-height: clamp(3rem, 6vw, 6.5rem);
        margin: 0 auto;
        padding: 0;
      }
    }

    & .about-section {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
  
      & p {
        padding: 0rem 2rem 2rem 2rem;
        width: 50%;
      }

      & .about-us {
        flex-direction: row;
        padding: 0 5rem;

        & li {
          & a {
            p {
              font-size: 1rem;
              width: 100%;
            }
          }
        }
      }
    }

    & .FAQ-section {
      display: flex;
      flex-direction: column;
      padding: 0 12rem;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    }
  }


  main .review-parent {
    padding-top: 11rem;
  }


  main .form {
    padding: 2rem 25rem;
  }

  .detail-main {
    .babysitter-detail-container {

      & .detail-wrapper {
        width: 600px;
        min-width: 550px;
        max-width: 600px;
        margin: 0 auto;

      }

      & .image-container {
        margin: 7em auto;
      }
    }
  }
}


@media screen and (max-width: 1210px) {


  main .form {
    padding: 2rem 20rem;
  }
}


@media screen and (max-width: 900px) {

  main .form {
    padding: 2rem 10rem;
  }
}

@media screen and (max-width: 500px) {

  main .form {
    padding: 2rem 3rem;
  }
}

/****************/
/*  Animations  */
/****************/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInBG {
  from {
    opacity: 0;
  }

  to {
    opacity: .8;
  }
}

@keyframes changeColor {
  from {
    color: var(--IYH-black);
  }

  to {
    color: var(--IYH-color);
  }
}

@keyframes movingTitle {
  from {
    transform: translateY(90px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes appearFadeIn {
  from {
    opacity: 0;
    scale: 1.1;
  }

  to {
    opacity: 1;
    scale: 1;
  }

}

@keyframes slidingCarousel {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes rotating {
  from {
    rotate: 10deg;
  }

  to {
    rotate: -10deg;
  }
}